

@font-face { 
    font-family: "signika-light";
    src: url("../fonts/SignikaNegative-Light.ttf"); 
}
@font-face { 
  font-family: "yanone-kaffeesatz";
  src: url("../fonts/YanoneKaffeesatz-VariableFont_wght.ttf"); 
}
